{% extends 'base.html.twig' %}

{% block body %}

        <body id="page-top">
        {% block nav %}
        {{ parent() }}
        {% endblock %}
        <!-- Masthead-->
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#tricks"><i class="fas fa-arrow-down"></i></a>
        <header class="masthead">
            {% for message in  app.flashes('success') %}
                <div class="alert success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in  app.flashes('warning') %}
                <div class="alert danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in  app.flashes('updateok') %}
                <div class="alert success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in  app.flashes('updatebad') %}
                <div class="alert danger">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Share your tricks with the snow community<br></h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                    </div>
                </div>
            </div>
        </header>

        <!-- Services-->
        <section class="page-section" id="tricks">
            <h2 class="text-center mt-0">
                {% if app.user.username is not defined %}
                    All tricks
                {% else %}
                    Add a trick <a href="{{ path('add/trick') }}"><button type="button" class="btn btn-primary" id="add_trick"><i class="fas fa-plus"></i></button></a>
                {% endif %}
            </h2>
            <div class="container-home">
                {% for trick in tricks %}

                <a href="{{ path('show',{id: trick.id, slug: trick.name | replace({' ': '-'})}) }}">
                <div class="card2">
                    <div class="blogBox moreBox" style="display: none;">
                        {% if trick.images.0.name is defined %}
                            <img src="{{ asset('uploads/'~ trick.images.0.name) }}" class="img-thumbnail">
                        {% else %}
                            <img src="{{ asset('img/mac.png') }}" class="img-thumbnail">
                        {% endif %}
                    <div class="container2">
                          {{ trick.name }}</a>
                            {% if app.user.username is not defined %}
                            {% elseif is_granted('ROLE_ADMIN') or trick.creator == app.user.username %}
                                <a href="{{ path('edit',{id: trick.id, slug: trick.name | replace({' ': '-'})}) }}"><i class="fas fa-pen" style="float: right; padding: 5px;font-size: 2em"></i></a>
                                   <a href="{{ path('remove',{id: trick.id}) }}" data-toggle="modal" data-target="#modal1{{ trick.id }}" > <i class="fas fa-trash-alt" style="float: right; padding: 5px;font-size: 2em"></i></a>
                                <div id="modal1{{ trick.id }}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete trick</h4>
                                            </div>
                                            <div class="modal-body">
                                                <a href="{{ path('remove',{id: trick.id}) }}"> <button type="button" class="btn btn-danger" style="background-color: tomato">Delete</button></a>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="loadMore" style="color: tomato">
                Load More
            </div>

            <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

            <!-- Smatphone menu -->
            <div class="navbar navbar-expand-lg navbar-light" id="mainNav2">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="#page-top">
                        <i class="fas fa-home"></i></a>
                    <a href="" style="color: black;">
                        {% if app.user.email is defined  %}
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt" style="color: black;"></i></a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt" style="color: black;"></i></a></li>
                        {% endif %}

                    </a>
                </div>
            </div>

        </section>

        </body>

{% endblock %}
