{% extends 'base.html.twig' %}

{% block body %}

        <body id="page-top">
        {% block nav %}
        {{ parent() }}
        {% endblock %}
        <!-- Masthead-->
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#tricks"><i class="fas fa-arrow-down"></i></a>
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Share your tricks with the snow community<br></h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                    </div>
                </div>
            </div>
        </header>

        <!-- Services-->
        <section class="page-section" id="tricks">
            <h2 class="text-center mt-0">
                {% if app.user.username is not defined %}
                    All tricks
                {% else %}
                    Add a trick <a href="{{ path('add/trick') }}"><button type="button" class="btn btn-primary" id="add_trick"><i class="fas fa-plus"></i></button></a>
                {% endif %}
            </h2>
            <div class="container-home">
                {% for trick in tricks %}
                <div class="card2">
                    <div class="blogBox moreBox" style="display: none;">
                        {% if trick.images.0.name is defined %}
                            <img src="{{ asset('uploads/'~ trick.images.0.name) }}" class="img-thumbnail">
                        {% else %}
                            <img src="{{ asset('img/mac.png') }}" class="img-thumbnail">
                        {% endif %}
                    <div class="container2">
                        <p>

                            <a href="{{ path('show',{id: trick.id}) }}">{{ trick.name }}</a>
                            {% if app.user.username is not defined %}
                        <p></p>
                            {% elseif is_granted('ROLE_ADMIN') or trick.creator == app.user.username %}
                                <a href="{{ path('edit',{id: trick.id}) }}"><i class="fas fa-pen" style="float: right; padding: 5px;font-size: 2em"></i></a>
                               <a href="{{ path('remove',{id: trick.id}) }}" data-toggle="confirmation" data-message="Voulez-vous vraiment supprimer ?" > <i class="fas fa-trash-alt" style="float: right; padding: 5px;font-size: 2em"></i></a>
                            {% endif %}
                        </p>

                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="loadMore" style="color: tomato">
                Load More
            </div>
        </section>


        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <script>
            $('[data-toggle="confirmation"][data-message]').on("click", function(event){
                var message = $(this).data('message');
                return confirm(message) || event.preventDefault();
            });
        </script>
        </body>
{% endblock %}
