{% extends 'base.html.twig' %}
{% block body %}

    {% block nav %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" style="background-color: #C4C2C0;">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('home') }}">Snow tricks</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('home') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#tricks">Tricks</a></li>
                        {% if app.user.email is defined  %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('profil_image',{id: app.user.id}) }}">Profil</a></li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{{ path('app_logout') }}">Sign out</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('app_login') }}">Sign in</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('app_register') }}">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    <div class="container" style="margin-top: 10%;">
        <div class="img-one">
            <div class="card3">
                {% if featuredImage is defined %}
                <img src="{{ asset('uploads/'~ featuredImage.0.name) }}">
                {% elseif images.0.name is defined %}
                    <img src="{{ asset('uploads/'~ images.0.name) }}">
                {% else %}

                    <img src="{{ asset('img/mac.png') }}" style="width: 100%">
                {% endif %}
                <div class="container2" style="position: relative; top: -350px;right: 350px;">
                    <a href="{{ path('featured_image',{id: id}) }}">
                        <i class="fas fa-pen" style="float: right; padding: 5px;font-size: 2em"></i>
                    </a>
                    <a href="" data-toggle="modal" data-target="" >
                        <i class="fas fa-trash-alt" style="float: right; padding: 5px;font-size: 2em"></i>
                    </a>
                </div>
                <div class="container">
                    <div class="centered">
                    {{ name.0.name }}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="smart" id="colapse">
                <button data-toggle="collapse" data-target="#demo" id="demoB">See medias</button>
                    <div id="demo" class="collapse">
                        <div class="show">
                            {% for ima in images %}
                            <div class="card2">
                                <img src="{{ asset('uploads/'~ ima.name) }}" class="img-thumbnail" id="{{ ima.id }}">
                                <div class="container2">
                                    <a href="{{ path('remove',{id: ima.id}) }}" data-toggle="modal" data-target="#modal1{{ ima.id }}" ><i class="fas fa-trash-alt" style="float: right; padding: 5px;font-size: 2em"></i></a>
                                </div>
                            </div>
                            <div id="modal1{{ ima.id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header"><h4 class="modal-title">Delete image</h4></div>
                                        <div class="modal-body">
                                            <a href="{{ path('removeImg',{id: ima.id}) }}" > <button type="button" class="btn btn-danger" style="background-color: tomato">Delete</button></a>
                                        </div>
                                        <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
                                    </div>
                                </div>
                            </div>
                                {% endfor %}
                            <div class="card2">
                                {% for video in videos %}
                                    {% autoescape %}
                                        {{ video.name | raw }}
                                        <div class="container2">
                                            <i class="fas fa-pen" style="float: right; padding: 5px;font-size: 2em"></i>
                                            <a href="{{ path('removeVid',{id: video.id}) }}" data-toggle="modal" data-target="#modal2{{ video.id }}" >
                                                <i class="fas fa-trash-alt" style="float: right; padding: 5px;font-size: 2em"></i>
                                            </a>
                                        </div>
                                    {% endautoescape %}
                                    <div id="modal2{{ video.id }}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Delete video</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <a href="{{ path('removeVid',{id: video.id}) }}" > <button type="button" class="btn btn-danger" style="background-color: tomato">Delete</button></a>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                </div>
        </div>
        <div class="notSmart" id="Notcolapse">
                <div class="show">
                    {% for ima in images %}
                        <div class="card2">
                            <img src="{{ asset('uploads/'~ ima.name) }}" class="img-thumbnail" id="{{ ima.id }}">
                            <div class="container2">
                                <a href="{{ path('image',{id: ima.id}) }}">
                                    <i class="fas fa-pen" style="float: right; padding: 5px;font-size: 2em"></i>
                                </a>
                                <a href="{{ path('remove',{id: ima.id}) }}" data-toggle="modal" data-target="#modal3{{ ima.id }}" >
                                <i class="fas fa-trash-alt" style="float: right; padding: 5px;font-size: 2em"></i>
                                </a>
                            </div>
                        </div>
                        <div id="modal3{{ ima.id }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete image</h4>
                                    </div>
                                    <div class="modal-body">
                                        <a href="{{ path('removeImg',{id: ima.id}) }}" > <button type="button" class="btn btn-danger" style="background-color: tomato">Delete</button></a>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                        {% for video in videos %}
                    <div class="card2">
                            {% autoescape %}
                                {{ video.name | raw }}
                                <div class="container2">
                                    <i class="fas fa-pen" style="float: right; padding: 5px;font-size: 2em"></i>
                                    <a href="{{ path('removeVid',{id: video.id}) }}" data-toggle="modal" data-target="#modal24{{ video.id }}" >
                                    <i class="fas fa-trash-alt" style="float: right; padding: 5px;font-size: 2em"></i>
                                    </a>
                                </div>
                            {% endautoescape %}
                            <div id="modal4{{ video.id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete video</h4>
                                        </div>
                                        <div class="modal-body">
                                            <a href="{{ path('removeVid',{id: video.id}) }}" > <button type="button" class="btn btn-danger" style="background-color: tomato">Delete</button></a>
                                        </div>
                                        <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
                                    </div>
                                </div>
                            </div></div>
                        {% endfor %}
                    </div>
                </div>

        <hr>
        {{ form_start(form) }}{{ form_label(form.name) }}
        {{ form_widget(form.name) }}{{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        <div class="row">
            <div class="col-md-6">{{ form_label(form.images) }}{{ form_widget(form.images,{attr: {'placeholder': 'Select one image or many images'}}) }}</div>
            <div class="col-md-6">
                <ul id="video-fields-list" data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ form.videos|length }}">
                    {% for keywordsField in form.videos %}<li>{{ form_errors(keywordsField) }}{{ form_widget(keywordsField) }}</li>{% endfor %}
                </ul>
                <button type="button" class="btn btn-primary" data-list-selector="#video-fields-list" style="background-color: tomato;float: right;margin-top: 10px;">Click to add embed videos</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_label(form.list) }}{{ form_widget(form.list) }}</div>
            <div class="col-md-6"  id="valid-edit">
                <button type="submit" class="btn btn-success" style="background-color: forestgreen;float: right; margin-top: 30px; margin-right: 20px;">Save</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal1{{ id }}" style="margin-top: 30px;float: right;margin-right: 30px;">Delete</button>
            </div>
        </div>
        {{ form_end(form) }}
        <div id="modal1{{ id }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><h4 class="modal-title">Delete trick</h4></div>
                    <div class="modal-body" style="text-align: center;"><a href="{{ path('remove',{id: id}) }}"> <button type="button" class="btn btn-danger" style="background-color: tomato">Delete</button></a></div>
                    <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
                </div>
            </div>
        </div>
    </div>
    <p class="space"></p>
{{ parent() }}
{% endblock %}
{% block javascripts %}{% endblock %}


