{% extends 'base.html.twig' %}

        {% block body %}

            {% block nav %}
                <!-- Navigation-->
                <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" style="background-color: #C4C2C0;"
                     xmlns="http://www.w3.org/1999/html">
                    <div class="container">
                        <a class="navbar-brand js-scroll-trigger" href="{{ path('home') }}">Snow tricks</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('home') }}">Home</a></li>
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#tricks">Tricks</a></li>
                                {% if app.user.email is defined  %}
                                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('profil_image',{id: app.user.id}) }}">Profil</a></li>
                                    <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{{ path('app_logout') }}">Sign out</a></li>
                                {% else %}
                                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('app_login') }}">Sign in</a></li>
                                {% endif %}
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('app_register') }}">Sign up</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}

            <div class="container" style="margin-top: 10%;">
                <div class="img-one">
                    <div class="card3">
                        {% if featuredImage == true %}
                            <img src="{{ asset('uploads/'~ featuredImage.0.name) }}" style="width: 100%; max-width: 600px; max-height: 400px;" >
                        {% elseif images.0.name is defined %}
                            <img src="{{ asset('uploads/'~ images.0.name) }}" style="width: 100%; max-width: 600px; max-height: 400px;">
                        {% else %}
                            <img src="{{ asset('img/mac.png') }}" style="width: 100%; max-width: 600px; max-height: 400px;">
                        {% endif %}
                        <div class="container">
                            <div class="centered">
                                {{ trick.0.name }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="smart" id="colapse">
                    <button data-toggle="collapse" data-target="#demo" id="demoB">See medias</button>
                    <div id="demo" class="collapse">
                        <div class="show">
                            {% for ima in images %}
                                <img src="{{ asset('uploads/'~ ima.name) }}" class="img-thumbnail">
                            {% endfor %}
                            {% for video in videos %}
                                {% autoescape %}
                                    {{ video.name | raw }} <br>
                                {% endautoescape %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="notSmart" id="Notcolapse">
                    <div class="show">
                        {% for ima in images %}
                            <img src="{{ asset('uploads/'~ ima.name) }}" class="img-thumbnail">
                        {% endfor %}
                        {% for video in videos %}
                            {% autoescape %}
                                {{ video.name | raw }} <br>
                            {% endautoescape %}
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <p>
                    {{ trick.0.description }}<br>
                </p>
                <span class="trick-info">
                <div class="trick-info1"> Author : {{ trick.0.creator }}</div>  <div class="trick-info1"> Group : {{ trick.0.list }}</div> <div class="trick-info1"> Date : {{ trick.0.createdAt | date("m/d/Y") }}</div>
            </span>

                {% if app.user.username is defined %}
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            {{ form_start(form) }}
                            {{ form_widget(form.content, { 'value': '' }) }}
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary" style="background-color: tomato">leave a comment</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                {% endif %}
                <hr>

                {% for hope in hopes %}
                    {% if trick.0.id == hope.id %}
                        <div class="blogBo moreBo" style="display: none;">
                            <div class="containerC">
                                <img src="{{ asset('uploads/'~ hope.name) }}" alt="Avatar" style="width:60px;height: 60px; border-radius: 50%;">
                                <strong>{{ hope.author }} a commenté : </strong> {{ hope.content }}.
                                <span class="time-right">{{ hope.created_at }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

 {% if comments |length > 5 %}
                <div id="loadMore2" style="color: tomato">
                    Load More
                </div>
                {% endif %}
                <p class="space"></p>

            </div>
            <!-- Smatphone menu -->
            <div class="navbar navbar-expand-lg navbar-light" id="mainNav2">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="{{ path('home') }}#page-top">
                        <i class="fas fa-home"></i></a>
                    <a href="" style="color: black;">
                        {% if app.user.email is defined  %}
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt" style="color: black;"></i></a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt" style="color: black;"></i></a></li>
                        {% endif %}

                    </a>
                </div>
            </div>



        {% endblock %}

